SUDO_PASSWD="mypassword"
SERVICE_USER=myuser
SSH_PORT=22
SSH_KEY_TYPE=ed25519
IFCFG_INTERFACE=ens192
IFCFG_GATEWAY=192.168.1.1
IFCFG_DNS1=8.8.8.8
IFCFG_DNS2=8.8.4.4
LONGHORN_STORAGE_DEVICE=/dev/sdb
CF_EMAIL=myuser@example.com
CF_API_KEY="mycloudflareapikey"
SMB_USER=mysmbuser
SMB_PASSWD="mysmbpassword"
MASTER_NODES="orked-master-1.example.com orked-master-2.example.com orked-master-3.example.com"
MASTER_NODES_IP="192.168.1.10 192.168.1.11 192.168.1.12"
WORKER_NODES="orked-worker-1.example.com orked-worker-2.example.com orked-worker-3.example.com"
WORKER_NODES_IP="192.168.1.13 192.168.1.14 192.168.1.15"
METALLB_IP="192.168.1.100 192.168.1.101"
RANCHER_DOMAIN=rancher.example.com
INGRESS_CLUSTERISSUER=letsencrypt-dns-prod
#LB_NODE=orked-lb.example.com
#LB_IP=192.168.1.9
# SSH_KEY="/home/myuser/.ssh/mykey"
# PUBLIC_SSH_KEY="/home/myuser/.ssh/mykey.pub"
# IFCFG_IPADDR=192.168.1.10
# RKE2_CHANNEL=stable
# RKE2_VERSION="v1.25.15+rke2r2"
# RKE2_SCRIPT_URL="https://get.rke2.io"
# RKE2_CLUSTER_CIDR="10.42.0.0/16"
# RKE2_SERVICE_CIDR="10.43.0.0/16"
# NGINX_HTTP=80
# NGINX_HTTPS=443
# KUBERNETES_NODES="orked-master-4.example.com orked-worker-4.example.com"
# KUBERNETES_NODES_IP="192.168.1.16 192.168.1.17"
# NODE_HOSTNAME="orked-master-1.example.com"
# DRAIN_OPTS="--disable-eviction --grace-period 0"
